@using iTotzke.Utilites
@{
    ViewBag.Title = "Monotone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monotone</h2>


<div>
    @Html.Raw((new FormatUserComment()).FormatMarkdownComment(""))


</div>