  #sortable {
       list-style-type: none; 
       margin: 0; 
       padding: 0;
       width: 60%;
  }
  #sortable li {
       margin: 0px 3px 3px 3px; 
       /*padding: 0.4em;*/ 
       padding-left: 1.5em; 
       font-size: 1.4em; 
       /*height: 25px;*/
  }
  #sortable li .bullet{
       position: absolute; 
       margin-left: -1.3em;
       display: inline-block;
  }
    .viewButton .editButton .deleteButton{
       height: 25px;
       width: 25px;
       display: inline-block;
  }
    #sortable li .close{
      
  }