body {
}
.edit, a {
    height: 25px
}
.delete, a {
    height: 25px
}

table.dataTable td {
    padding: 0px 0px;
}

.hidden {
    visibility: hidden;
    display:none
}

body { padding-top: 100px; }

.nav li.iconbutton a {
    color: #fff !important;
    line-height: .5 !important;
    padding: 5px 0px !important;
    width: 45px;
    height: 42px;
}
.nav li.iconbutton span {
    color: #fff !important;
}

.arrow {
   position: relative;
   margin: -10px 0 0 443px;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 50px 50px 0 50px;
   border-color: black transparent transparent;
    }

footer .content-wrapper div span {
    width: 19.5%;
    display: inline-block;
}

.UserContent        {position:relative;min-height: 300px;max-height: 750px;}

.UserContent iframe.EmbededLink {position:absolute;top:0;left:0;width:100%; height:100%;}
.UserContent iframe.DriveLink {position:absolute;top:0;left:0;width:100%; height:100%;}

.CommentChildren {padding-left:20px;}
.CommentText{padding-left:20px;}
.highlight {
    border-style:groove;
border-width:2px;
border-color:#909090 ;
background: #D0D0D0      ;
}
.bold {font-weight:bold; color: blue }