@{
    ViewBag.Title = "Carly";
}
@Styles.Render("~/Content/chat")
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="Carly">
    <header>
        <h3>Carly</h3>
    </header>
    <div id="wrapper">  
    <div id="menu">  
        <p class="welcome">Welcome, <b></b></p>  
        <p class="logout"><a id="exit" href="#">Exit Chat</a></p>  
        <div style="clear:both"></div>  
    </div>  
      
    <div id="chatbox"></div>  
      
    <div id="message">  
        <input name="usermsg" type="text" id="usermsg" size="63" />  
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />  
    </div>  
</div>  

</section>

    @Scripts.Render("~/Scripts/ai.js")

