@{
    ViewBag.Title = "Credits";
}

<h2>Credits</h2>

<div class="row clearfix">
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false">jQuery</h2>
        <p class="" contenteditable="false">
            jQuery is free, open source software, licensed under the MIT License.
            jQuery's syntax is designed to make it easier to navigate a document.
        </p>
        <p class="">
            <a class="btn" href="http://jquery.com/">View »</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false">Bootstrap</h2>
        <p class="" contenteditable="false">
            Bootstrap is a free collection of tools for creating websites and web applications.
            It contains HTML and CSS-based design templates for typography, forms, buttons,
            navigation and other interface components, as well as optional JavaScript extensions.
        </p>
        <p>
            <a class="btn" href="http://getbootstrap.com/">View »</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false"> FontAwesome</h2>
        <p class="" contenteditable="false">
            Font Awesome gives you scalable vector icons that can instantly
            be customized — size, color, drop shadow, and anything that can be
            done with the power of CSS. Lisensing is great, Retina friendly, and over 400 icons!
        </p>
        <p>
            <a class="btn" href="http://fontawesome.io/">View »</a>
        </p>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false">dataTables</h2>
        <p class="" contenteditable="false">
            DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible
            tool, based upon the foundations of progressive enhancement, and will add advanced
            interaction controls to any HTML table.
        </p>
        <p class="">
            <a class="btn" href="https://datatables.net/">View »</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false">reCAPTCHA</h2>
        <p class="" contenteditable="false">
            reCAPTCHA is a free service to protect your website from spam and abuse. reCAPTCHA
            uses an advanced risk analysis engine and adaptive CAPTCHAs to keep automated software
            from engaging in abusive activities on your site. It does this while letting your valid
            users pass through with ease. Every time our CAPTCHAs are solved, that human effort helps digitize text, annotate
            images, and build machine learning datasets.
        </p>
        <p>
            <a class="btn" href="https://www.google.com/recaptcha/intro/index.html">View »</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false">Markdown</h2>
        <p class="" contenteditable="false">
            Markdown is a plain text formatting syntax designed so that it can optionally be
            converted to HTML using a tool by the same name. Markdown is popularly used as format for readme files,
            or for writing messages in online discussion forums, or in text editors for the quick creation of rich text documents.
        </p>
        <p>
            <a class="btn" href="http://daringfireball.net/projects/markdown/">View »</a>
        </p>
    </div>
</div>
<div class="row clearfix hidden">
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false">{{ResourceName}}</h2>
        <p class="" contenteditable="false">{{Description}}</p>
        <p class="">
            <a class="btn" href="http://fontawesome.io/">View »</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false">{{ResourceName}}</h2>
        <p class="" contenteditable="false">{{Description}}</p>
        <p>
            <a class="btn" href="http://fontawesome.io/">View »</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2 class="" contenteditable="false">{{ResourceName}}</h2>
        <p class="" contenteditable="false">{{Description}}</p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>
</div>